.aboutCollapse{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1200px;
}



//Responsiv mobile
@media (max-width:767px){
    .aboutCollapse{
       width: 100%;
    }
 }
 