.cards_home{
  display: flex;
justify-content: center;
flex-wrap: wrap;
max-width: 1240px;
margin: auto ;
background-color: #F6F6F6;
border-radius: 25px;
gap: 50px;
padding-top: 20px;
}

.cards{
  width: 340px;
  margin-bottom: 35px;
}
.cards__cont{
  cursor: pointer;
  width: 100%;
  height: 340px;
  position: relative;
  gap: 50px;
  margin: 0;
}
.cards__img{
  object-fit: cover;
  width: 100%;
  height: 340px;
  border-radius: 15px;
  width: 100%;


}
.cards__title{
  color: white;
   font-size: 18px;
   position: absolute;
   width: 240px;
  bottom: 15px;
   left: 20px;
   margin: 0;
 
}

//Responsiv Mobile 

@media (max-width:767px) {
  .cards_home{
    gap: 20px;
    padding-bottom: 27px;
  }
  .cards{
    width: 100%;
  }
} 
  
