.collapse {
  width: 90%;
  margin: 5%;
  margin-bottom: 20px;
  border-radius: 3%;
  margin: 0 auto 3% auto;
  
  &__title__img {
    margin: auto;
    display: flex;
    padding: 3px 10px;
    justify-content: space-between;
    background: #FF6060;
    width: 50%;
    align-items: center;
    color: white;
    border-radius: 5px;
    width: 95%;
  }
  
  &__text {
    margin: 0;
    padding: 15px;
  }
}

.drop__up {
  transition: transform 1s ease;
}

.content {
  color: #FF6060;
  visibility: hidden;
  background-color: #F6F6F6;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.rotate {
  transform: rotate(-180deg);
}

.return {
  transform-origin: 50% 0 ;
  transform: scaleY(1);
  visibility: visible;
  height: auto;
  overflow: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  @media (max-width: 767px) {
    text-align: center;
  }
}