// header
.header-container{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
    padding: 0 100px;
    max-width: 1440px;
    font-family: 'Monserrat', sans-serif;

}

.logo_kasa{
    width: 180px;
}

// liens 
.link_style{
    color: #FF6060;
   text-decoration: none;
   font-size: 24px;
   padding: 0 0 0 60px;
}


.link_style.active {
    text-decoration: underline;
}

// Reponsiv mobile

@media (max-width:767px){



    .header-container{
        display: flex;
       justify-content: space-between;
       padding: 0px;
   
    }
    
    .logo_kasa{
        width: 140px;
    }
    
    // liens 
    
    .link_style {
        font-size: 17px;
        padding: 0 0 0 20px;
    }
        
   
}


