.footer_container {
    background-color: black;
    height: 210px;
    margin: 25px -58px -8px -58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 gap: 50px;
 }
 
 .FooterText {
    color: white;
    font-size: 18px;
    font-weight: 500;
 }

//Responsiv mobile
@media (max-width:767px){
   .footer_container {
      margin: 0px -8px -8px -8px;
      gap: 1px;
   }
   .FooterText{
      font-size: 12px;
      flex-direction: column;
      width: 130px;
      height: 46px;
      text-align: center;
      
   }
}

