.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 100px;
  max-width: 1440px;
  font-family: "Monserrat", sans-serif;
}

.logo_kasa {
  width: 180px;
}

.link_style {
  color: #FF6060;
  text-decoration: none;
  font-size: 24px;
  padding: 0 0 0 60px;
}

.link_style.active {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .logo_kasa {
    width: 140px;
  }
  .link_style {
    font-size: 17px;
    padding: 0 0 0 20px;
  }
}
.footer_container {
  background-color: black;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FooterText {
  color: white;
  font-size: 18px;
}

@media (max-width: 767px) {
  .footer_container {
    margin: -8px;
  }
  .FooterText {
    font-size: 12px;
    flex-direction: column;
    width: 133.59px;
    height: 46px;
    text-align: center;
  }
}
.banner {
  width: 100%;
  max-width: 1240px;
  text-align: center;
  margin: auto;
  padding-bottom: 25px;
  position: relative;
}
.banner_text {
  color: white;
  font-size: 48px;
  font-weight: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.banner_img {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
  filter: brightness(0.8);
}

@media (max-width: 767px) {
  .banner {
    height: 111px;
    margin-bottom: 110px;
  }
  .banner_text {
    font-size: 24px;
    top: 75%;
    left: 108px;
    text-align: left;
    width: 193px;
    text-align: start;
  }
}
.home {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .home {
    padding: 0;
  }
}
.cards_home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: auto;
  background-color: #F6F6F6;
  border-radius: 25px;
  gap: 50px;
  padding-top: 20px;
}

.cards {
  width: 340px;
  margin-bottom: 35px;
}

.cards__cont {
  cursor: pointer;
  width: 100%;
  height: 340px;
  position: relative;
  gap: 50px;
  margin: 0;
}

.cards__img {
  object-fit: cover;
  width: 100%;
  height: 340px;
  border-radius: 15px;
  width: 100%;
}

.cards__title {
  color: white;
  font-size: 18px;
  position: absolute;
  width: 240px;
  bottom: 15px;
  left: 20px;
  margin: 0;
}

@media (max-width: 767px) {
  .cards_home {
    gap: 20px;
    padding-bottom: 27px;
  }
  .cards {
    width: 100%;
  }
}
.collapse {
  width: 90%;
  margin: 5%;
  margin-bottom: 20px;
  border-radius: 3%;
  margin: 0 auto 3% auto;
}
.collapse__title__img {
  margin: auto;
  display: flex;
  padding: 3px 10px;
  justify-content: space-between;
  background: #FF6060;
  width: 50%;
  align-items: center;
  color: white;
  border-radius: 5px;
  width: 95%;
}
.collapse__text {
  margin: 0;
  padding: 15px;
}

.drop__up {
  transition: transform 1s ease;
}

.content {
  color: #FF6060;
  visibility: hidden;
  background-color: #F6F6F6;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.rotate {
  transform: rotate(-180deg);
}

.return {
  transform-origin: 50% 0;
  transform: scaleY(1);
  visibility: visible;
  height: auto;
  overflow: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .return {
    text-align: center;
  }
}

.caroussel_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.caroussel__img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  height: 415px;
}

.caroussel__arrowright {
  cursor: pointer;
  position: absolute;
  left: 2%;
  top: 46%;
  border: none;
}

.caroussel__arrowleft {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 46%;
  border: none;
}

.caroussel__compt {
  position: absolute;
  bottom: 0%;
  color: white;
  font-weight: 700;
}

@media (max-width: 767px) {
  .caroussel__img {
    height: 255px;
  }
  .caroussel__arrowright {
    width: 7%;
  }
  .caroussel__arrowleft {
    width: 7%;
  }
  .caroussel__compt {
    display: none;
  }
}
.stars {
  width: 30px;
  height: 30px;
  align-items: center;
}

.rating {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .stars {
    width: 20px;
    height: 20px;
  }
  .rating {
    align-items: center;
    display: flex;
  }
}
.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 25px;
  font-size: 14px;
  line-height: 19.96px;
  color: white;
  border-radius: 12px;
  background-color: #FF6060;
  padding: 3px 16px;
  text-align: center;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .tags {
    font-size: 10px;
  }
}
.host__container {
  align-items: center;
  display: flex;
}

.host__picture {
  border-radius: 50%;
  height: 90px;
  margin: 0 0 0 30px;
  width: 90px;
}

.host__name {
  font-size: 18px;
  margin: 0;
  width: 60px;
}

@media (max-width: 768px) {
  .host__name {
    font-size: 12px;
    line-height: 17.11px;
  }
  .host__picture {
    width: 32px;
    height: 32px;
    margin-left: -15px;
  }
}
.logement {
  padding: 0px 100px;
}

.logement__collapse__container {
  display: flex;
}

.logement .renseignement__container {
  display: flex;
  color: #ff6060;
  margin: 60px 0 30px;
  flex-direction: row;
  justify-content: space-between;
}
.logement .renseignement__container .renseignement__left {
  width: 50%;
  flex-direction: column;
}
.logement .renseignement__container .renseignement__left .renseignement__info {
  display: flex;
  flex-direction: column;
}
.logement .renseignement__container .renseignement__left .renseignement__info .renseignement__title {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
}
.logement .renseignement__container .renseignement__left .renseignement__info .renseignement__p {
  font-size: 16px;
  margin: 0;
}
.logement .renseignement__container .tags__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 11px;
  justify-content: flex-start;
}
.logement .renseignement__container .rating__host {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .logement {
    padding: 0px;
  }
  .logement .renseignement__container .renseignement__left .renseignement__info .renseignement__title {
    font-size: 18px;
  }
  .logement .renseignement__container .renseignement__left {
    width: 100%;
  }
  .tags__container {
    flex-wrap: wrap;
  }
  .logement .renseignement__container {
    flex-direction: column;
    margin: 0;
  }
  .logement__collapse__container {
    flex-direction: column;
    gap: 20px;
  }
  .logement .renseignement__container .rating__host {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-direction: row;
  }
}
.liste {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.67px;
}

@media (max-width: 768px) {
  .liste {
    font-size: 12px;
    line-height: 17.11px;
  }
}
.container {
  font-family: "Montserrat";
}

/*# sourceMappingURL=style.css.map */
